Not able to pass in file as parameter for mutli-part form requests

I'm trying to use scalaj-http to send an POST request for twitter upload. Ive attached the documentation of what they require for the request. The part I'm having trouble with is trying to pass in the actual binary file as a parameter for "media". I can only seem to see how to do postMulti which is just the file and then add parameter but not actually pass in the data as a parameter.

```
val appendResponse = Http(twitterApiUrl)
      .postMulti(MultiPart("Output", "Output.bin", "application/octet-stream", byteArray))
      .params(Seq("command" -> "APPEND", "media_id" -> twitterMediaID, "segment_index" -> "0", "media" -> byteArray))
      .oauth(consumer, access)
      .asString
```

https://developer.twitter.com/en/docs/media/upload-media/api-reference/post-media-upload-append

The first parameter in MulitPart should be the name of the field for your upload— “media”, not "Output"

Don't send the bytes again in the params

I have made those changes but I keep getting an 401 Authorization error

HttpResponse({"errors":[{"code":38,"message":"media parameter is missing."}]},

    val appendResponse = Http(twitterApiUrl)
      .postMulti(MultiPart("media", "Output.bin", "application/mac-binary", byteArray))
      .postForm(Seq("command" -> "APPEND", "media_id" -> twitterMediaID, "segment_index" -> "0"))
      .oauth(consumer = consumer, token = access)
      .asString

This is the only way I'm able to get a response saying that the media parameter is missing.
If I change the .postForm to .params it throws a 401 error

Thanks, I believe there's a bug in the library where it's not properly creating the OAuth1 signature for multi-part requests.

Try this:
```scala

object OAuthFixed {
  import java.net.URI
  import javax.crypto.Mac
  import javax.crypto.SecretKey
  import javax.crypto.spec.SecretKeySpec
  val MAC = "HmacSHA1"
      
  def sign(req: HttpRequest, consumer: Token, token: Option[Token], verifier: Option[String]): HttpRequest = {
    req.option(conn => {
      val baseParams: Seq[(String,String)] = Seq(
        ("oauth_timestamp", (System.currentTimeMillis / 1000).toString),
        ("oauth_nonce", System.currentTimeMillis.toString)
      )
      
      var (oauthParams, signature) = getSig(baseParams, req, consumer, token, verifier)
      
      oauthParams +:= (("oauth_signature", signature))
      conn.setRequestProperty("Authorization", "OAuth " + oauthParams.map(p => p._1 + "=\"" + percentEncode(p._2) +"\"").mkString(","))
    })
  }
  
  def getSig(baseParams: Seq[(String,String)], req: HttpRequest, consumer: Token, token: Option[Token], verifier: Option[String]): (Seq[(String,String)], String) = {
    var oauthParams = ("oauth_version", "1.0") +: ("oauth_consumer_key", consumer.key) +: ("oauth_signature_method", "HMAC-SHA1") +: baseParams
    
    token.foreach{t =>
      oauthParams +:= (("oauth_token", t.key))
    }
    
    verifier.foreach{v =>
      oauthParams +:= (("oauth_verifier", v))
    }
    
    val baseString = Seq(req.method.toUpperCase,normalizeUrl(new URL(req.url)),normalizeParams(oauthParams)).map(percentEncode).mkString("&")
    
    val keyString = percentEncode(consumer.secret) + "&" + token.map(t => percentEncode(t.secret)).getOrElse("")
    val key = new SecretKeySpec(keyString.getBytes(HttpConstants.utf8), MAC)
    val mac = Mac.getInstance(MAC)
    mac.init(key)
    val text = baseString.getBytes(HttpConstants.utf8)
    (oauthParams, HttpConstants.base64(mac.doFinal(text)))
  }
  
  private def normalizeParams(params: Seq[(String,String)]) = {
    percentEncode(params).sortWith(_ < _).mkString("&")
  }
  
  private def normalizeUrl(url: URL) = {
    val uri = new URI(url.toString)
    val scheme = uri.getScheme().toLowerCase()
    var authority = uri.getAuthority().toLowerCase()
    val dropPort = (scheme.equals("http") && uri.getPort() == 80) || (scheme.equals("https") && uri.getPort() == 443)
    if (dropPort) {
      // find the last : in the authority
      val index = authority.lastIndexOf(":")
      if (index >= 0) {
        authority = authority.substring(0, index)
      }
    }
    var path = uri.getRawPath()
    if (path == null || path.length() <= 0) {
      path = "/" // conforms to RFC 2616 section 3.2.2
    }
    // we know that there is no query and no fragment here.
    scheme + "://" + authority + path
  }
  
  def percentEncode(params: Seq[(String,String)]): Seq[String] = {
    params.map(p => percentEncode(p._1) + "=" + percentEncode(p._2))
  }
  
  def percentEncode(s: String): String = {
    if (s == null) "" else {
       HttpConstants.urlEncode(s, HttpConstants.utf8).replace("+", "%20").replace("*", "%2A").replace("%7E", "~")
     }
  }
}

// are you sure application/mac-binary is the correct mime type? I would think application/octet-stream would be the right thing for a chunk of a media file
val httpRequestUnsigned: HttpRequest = Http(twitterApiUrl)
  .postMulti(MultiPart("media", "Output.bin", "application/mac-binary", byteArray))
  .params(Seq("command" -> "APPEND", "media_id" -> twitterMediaID, "segment_index" -> "0"))

val appendResponse = OAuthFixed.sign(httpRequestUnsigned, consumer, Some(access), None).asString
```

That seemed to work. Thank you very much!

Will you be pushing a fix for this scala library for this bug?

@Farhan-Islam you should find in the 2.4.1 release which has been published to maven. thanks!

Hi I'm using `2.4.2`, but getting a similar issue:

```
assert(body.nonEmpty)

...
.postMulti(MultiPart(
          name = "media",
          filename = "file.txt",
          mime = "multipart/form-data",
          data = body
        ))
        .method("PATCH")
```

For the Dun and Bradstreet API, returns

```
"The attached file is missing from your request, please fix your request and try again."
```

I'm not using BasicAuth or OAuth (there is simply a token in a header).

Is this bug definitely fixed?